<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html')%>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Tabla de multiplicar</h1>
                <form action="/tablas" method="post">
                    <p>Numero tabla:</p>
                    <input type="number" id="tabla" name="tabla" required value="<%=tabla%>">
                    <button type="submit" >Enviar</button>

                </form>

                <%

                
                if(tabla != null){
                    let res = 0
                    for(let cont=1; cont<=10; cont++){
                        res = cont*tabla
                        %>
                        <h3> <%=tabla%> = <%=cont%> * <%=res%></h3>
                        <%
                    }
                    
                    
                }

                %>
               

            </div>
        </div>
    </div>
    <%-include('partials/footer.html')%>
</body>


</html>